<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/documentation.css">
    <title>Documentation for API of One-Queue</title>
</head>
<body>
    <header>
        <h1>Documentation for API of One-Queue</h1>
        <h2>Optimizers@</h2>
        <h3>Team Members</h3>
        <ul>
            <li>1. MD KASHIF RAZA*, <span class="role">TEAM LEADER &  BACK-END</span></li>
            <li>2. MILISHA GUPTA, <span class="role">FRONT-END + BACKEND</span></li>
            <li>3. CHIRAG RAWAT, <span class="role">BACK-END</span></li>
            <li>4. MUSKAAN AGRAWAL, <span class="role">FRONT-END + BACK-END</span></li>
            <li>5. KULDEEP GAUR, <span class="role">FRONT-END + BACK-END</span></li>
            <li>6. SAKSHI MAGRE, <span class="role">FRONT-END</span></li>
        </ul>
        <h3>Team Mentors</h3>
        <ul>
            <li>1. MR. GOVIND CHOUDHARY, <span class="role">Technical Mentor</span></li>
            <li>2. PROF. VAIBHAV NEEMA, <span class="role">Academic Mentor</span></li>
        </ul>
    </header>
    <main>
        <table id="document">
            <thead>
                <tr>
                    <th>S No.</th>
                    <th>API END-POINT</th>
                    <th>Description</th>
                    <th>HTTP Method</th>
                    <th>Parameters</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1.</th>
                    <td class="api-url">/api/_v1/officials/</td>
                    <td>Get details of officials of 33 districts of Rajasthan</td>
                    <td class="method">GET</td>
                    <td>
                        <ul>
                            <li>1. Name<span class="type"> : String</span></li>
                            <li>2. Position of Authority<span class="type"> : String</span></li>
                            <li>3. Email<span class="type"> : String</span></li>
                            <li>4. Phone<span class="type"> : String</span></li>
                            <li>5. Address<span class="type"> : String</span></li>
                            <li>6. District<span class="type"> : String</span></li>
                            <li>7. State<span class="type"> : String</span></li>   
                            <li>8. Pincode<span class="type"> : String</span></li>
                            <li>9. Created At<span class="type"> : Timestamp</span></li>
                            <li>10. Updated At<span class="type"> : Timestamp</span></li>
                            <li>11. Approval Status<span class="type"> : Boolean</span></li>
                            <li>12. Activation Status<span class="type"> : Boolean</span></li>
                        </ul>
                    </td>
                    <td>
                            [{
                                "name" : "name",
                                "positionOfAuthority" : "positionOfAuthority",
                                "email": "email",
                                "phone": "phone",
                                "address": "address",
                                "district" : "district",
                                "state" : "state",
                                "pincode" : "pincode",
                                "createdAt" : "createdAt",
                                "updatedAt" : "updatedAt"
                                "approvalStatus" : "approvalStatus",
                                "activationStatus"  : "activationStatus"
                                  
                            }]
                    </td>
                </tr>
                <tr>
                    <th>2.</th>
                    <td class="api-url">/api/_v1/:creatorUserToken/official/</td>
                    <td>Registration for Officials of 33 Districts</td>
                    <td class="method">POST</td>
                    <td>
                        <ul>
                            <li>1. Name<span class="type"> : String</span></li>
                            <li>2. Position of Authority<span class="type"> : String</span></li>
                            <li>3. Email<span class="type"> : String</span></li>
                            <li>4. Phone<span class="type"> : String</span></li>
                            <li>5. Password<span class="type"> : String</span> </li>
                            <li>6. authenticationToken<span class="type"> : String</span> </li>
                            <li>7. Documents<span class="type"> : Blob</span></li>
                            <li>8. Address<span class="type"> : String</span></li>
                            <li>9. District<span class="type"> : String</span></li>
                            <li>10. State<span class="type"> : String</span></li>   
                            <li>11. Pincode<span class="type"> : String</span></li>
                            <li>12. Created At<span class="type"> : Timestamp</span></li>
                            <li>13. Updated At<span class="type"> : Timestamp</span></li>
                            <li>14. Approval Status<span class="type"> : Boolean</span></li>
                            <li>15. Activation Status<span class="type"> : Boolean</span></li>
                        </ul>
                    </td>
                    <td>
                            [{
                                "name" : "name",
                                "positionOfAuthority" : "positionOfAuthority",
                                "email": "email",
                                "phone": "phone",
                                "password" : "password",
                                "authenticationToken" : "authenticationToken",
                                "documents" : "documents",
                                "address": "address",
                                "district" : "district",
                                "state" : "state",
                                "pincode" : "pincode",
                                "createdAt" : "createdAt",
                                "updatedAt" : "updatedAt"
                                "approvalStatus" : "approvalStatus",
                                "activationStatus"  : "activationStatus"
                            }]
                    </td>
                </tr>
                <tr>
                    <th>3.</th>
                    <td class="api-url">/api/_v1/District/</td>
                    <td>Return details of 33 districts</td>
                    <td class="method">GET</td>
                    <td>
                        <ul>
                            <li> <span class="type">1. "Districts" : ["Ajmer", . . . , "Udaipur"]</span></li>
                        </ul>
                    </td>
                    <td>
                            [{
                                "Districts" : ["Ajmer", . . . , "Udaipur"]
                            }]
                    </td>
                </tr>
                <tr>
                    <th>4.</th>
                    <td class="api-url">/api/_v1/District/:district</td>
                    <td>Return district name (More details to be inserted in future)</td>
                    <td class="method">GET</td>
                    <td>
                        <ul>
                            <li> <span class="type">1. "DistrictName"</span></li>
                        </ul>
                    </td>
                    <td>
                           "DistrictName"
                    </td>
                </tr>
                <tr>
                    <th>5.</th>
                    <td class="api-url">/api/_v1/mail/:sendermail/:subject/:message</td>
                    <td>Mail the particular email address from One-Queue</td>
                    <td class="method">POST</td>
                    <td>
                        <ul>
                            <li>userId</li>
                            <li>subject</li>
                            <li>message</li>
                        </ul>
                    </td>
                    <td>
                        "Mail sent succesfully" or &lt;Error&gt;
                    </td>
                </tr>
                <tr>
                    <th>6.</th>
                    <td class="api-url">/api/_v1/get/organization/</td>
                    <td>Returns all the data of registered organization</td>
                    <td class="method">GET</td>
                    <td>
                        <ul>
                            <li> None</li>
                        </ul>
                    </td>
                    <td>
<pre>
{
    organizationName: String,
    organizationCode: String,
    organizationType: String,
    organizationAddress: String,
    organizationPhone: String,
    organizationEmail: String,
    organizationPassword: String,
    organizationWebsite: String,
    organizationDistrict: String,
    organizationDivision: String,
    organizationLogo: String,
    organizationDescription: String,
    organizationCreated: {type : Date, default: Date.now},
    organizationLogo: {data: Buffer, contentType: String},
    activeStatus: { type: Boolean, default: false },
    createdBy: { type: String, default: "Unknown" },
    numberOfAllowedTokens: { type: Number, default: 0 },
    currentTraffic: { type: Number, default: 0 },
    previousDayTraffic: { type: Number, default: 0 },
    trafficStatusColor: {type: String, default: "Green"},
    // ID of the current token
    currentTokenServed: { type: String, default: "None" },
    // ID of the previous token
    previousTokenServed: { type: String, default: "None" },
    // ID of the next token
    nextTokenServed: { type: String, default: "None" },
    // For verification purpose
    qrCodeUrl: { type: String, default: "None" },
    lastTimeActive: { type: Date, default: Date.now },
    // Rating of the organization
    rating: { type: Number, default: 2.5 },
    organizationApprovalStatus : { type: Boolean, default: false }
}
</pre>
                    </td>
                </tr> 
                <tr>
                    <th>7.</th>
                    <td class="api-url">/api/_v1/get/organization/:district</td>
                    <td>Returns all the data of registered organization in a <b>District</b></td>
                    <td class="method">GET</td>
                    <td>
                        <ul>
                            <li>district</li>
                        </ul>
                    </td>
                    <td>
<pre>
{
    organizationName: String,
    organizationCode: String,
    organizationType: String,
    organizationAddress: String,
    organizationPhone: String,
    organizationEmail: String,
    organizationPassword: String,
    organizationWebsite: String,
    organizationDistrict: String,
    organizationDivision: String,
    organizationLogo: String,
    organizationDescription: String,
    organizationCreated: {type : Date, default: Date.now},
    organizationLogo: {data: Buffer, contentType: String},
    activeStatus: { type: Boolean, default: false },
    createdBy: { type: String, default: "Unknown" },
    numberOfAllowedTokens: { type: Number, default: 0 },
    currentTraffic: { type: Number, default: 0 },
    previousDayTraffic: { type: Number, default: 0 },
    trafficStatusColor: {type: String, default: "Green"},
    // ID of the current token
    currentTokenServed: { type: String, default: "None" },
    // ID of the previous token
    previousTokenServed: { type: String, default: "None" },
    // ID of the next token
    nextTokenServed: { type: String, default: "None" },
    // For verification purpose
    qrCodeUrl: { type: String, default: "None" },
    lastTimeActive: { type: Date, default: Date.now },
    // Rating of the organization
    rating: { type: Number, default: 2.5 },
    organizationApprovalStatus : { type: Boolean, default: false }
}
</pre>
                    </td>
                </tr> 
                <tr>
                    <th>8.</th>
                    <td class="api-url">/api/_v1/get/organization/org-code/:organizationCode</td>
                    <td>Returns the data of organization with given <b>organization code</b> </td>
                    <td class="method">GET</td>
                    <td>
                        <ul>
                            <li> organizationCode</li>
                        </ul>
                    </td>
                    <td>
<pre>
{
    organizationName: String,
    organizationCode: String,
    organizationType: String,
    organizationAddress: String,
    organizationPhone: String,
    organizationEmail: String,
    organizationPassword: String,
    organizationWebsite: String,
    organizationDistrict: String,
    organizationDivision: String,
    organizationLogo: String,
    organizationDescription: String,
    organizationCreated: {type : Date, default: Date.now},
    organizationLogo: {data: Buffer, contentType: String},
    activeStatus: { type: Boolean, default: false },
    createdBy: { type: String, default: "Unknown" },
    numberOfAllowedTokens: { type: Number, default: 0 },
    currentTraffic: { type: Number, default: 0 },
    previousDayTraffic: { type: Number, default: 0 },
    trafficStatusColor: {type: String, default: "Green"},
    // ID of the current token
    currentTokenServed: { type: String, default: "None" },
    // ID of the previous token
    previousTokenServed: { type: String, default: "None" },
    // ID of the next token
    nextTokenServed: { type: String, default: "None" },
    // For verification purpose
    qrCodeUrl: { type: String, default: "None" },
    lastTimeActive: { type: Date, default: Date.now },
    // Rating of the organization
    rating: { type: Number, default: 2.5 },
    organizationApprovalStatus : { type: Boolean, default: false }
}
</pre>
                    </td>
                </tr> 
                <tr>
                    <th>9.</th>
                    <td class="api-url">/api/_v1/types/organization</td>
                    <td>Return json data of all the types of organization saved</td>
                    <td class="method">GET</td>
                    <td>
                        <ul>
                            <li><span class="type">None</span></li>
                        </ul>
                    </td>
                    <td>
                        ['Type1', 'Type2' ...]
                    </td>
                </tr>
                <tr>
                    <th>10.</th>
                    <td class="api-url">/api/_v1/types/organization/:newType</td>
                    <td>Add a new type of organization</td>
                    <td class="method">POST</td>
                    <td>
                        <ul>
                            <li><span class="type">newOrganizationType</span></li>
                        </ul>
                    </td>
                    <td>
                        ['Type1', 'Type2' ..., '<b>NewType</b>']
                    </td>
                </tr>
                <!-- Template for new row -->
                <!-- <tr>
                    <th></th>
                    <td class="api-url">/api/_v1/</td>
                    <td></td>
                    <td class="method"></td>
                    <td>
                        <ul>
                            <li> <span class="type"></span></li>
                        </ul>
                    </td>
                    <td>

                    </td>
                </tr> -->
            </tbody>
        </table>
    </main>
    <footer>
        <p>Team Optimizers@, IET-DAVV, INDORE (M.P.), PS : TK1050</p>
    </footer>
</body>
</html>